<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Music{% endblock %}</title>
    {% load staticfiles%}
    <link rel="stylesheet" href="{% static 'music/style.css' %}">
      <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Chettan|Raleway" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <script src="http://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </head>
  <body>
  {% block navbar %}
    <!-- =============================navbar================================= -->
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark " >
    <!-- ===========logo======== -->
      <a class="navbar-brand" href="{% url 'index' %}">
          <img src="https://image.flaticon.com/icons/png/512/122/122626.png" height="40" width="40">
      </a>
      <!-- ===========logo======== -->
      <!-- =======toggle button====== -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
     </button>
     <!-- =======toggle button====== -->
     <!-- ======collaspse=== -->
       <div class="collapse navbar-collapse" id="navbarSupportedContent">
         <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
            <a class="nav-link" href="{% url 'index' %}">
              <i class="fas fa-compact-disc"></i>
              Albums
            </a>
            </li>
            <li class="nav-item active ">
              <a class="nav-link" href="{% url 'music_songs' %}">
                <i class="fas fa-music"></i>
                  Songs
              </a>
            </li>
          </ul>

          <ul class="navbar-nav ">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'album-add' %}">
              <i class="fas fa-plus"></i>
              Add Album
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="{% url 'logout' %}">
              <i class="fas fa-power-off"></i>
              Log Out
            </a>
          </li>
          </ul>

      </div>
      <!-- ======collaspse=== -->
    </nav>
    {% endblock %}
    <!-- =============================navbar================================= -->
    {% block body %}
    {% endblock %}

  </body>
</html>
